body {
	background: #121213;
}


#container {
	position: relative;
	height: 600px;
	background: #111111;
}

#canvas_painter {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50vw;
	margin-top: -300px;
	transform-origin: 50% 50%;
	/*transition: 1.2s cubic-bezier(0.63, 0.1, 0.35, 0.99);*/
}



/* layout */
#control_wrapper {
	margin-top: 20px;
}

.column-left {
	display: inline-block;
	vertical-align: top;
	width: 800px;
}

.column-right {
	display: inline-block;
	vertical-align: top;
	width: 300px;	
}

.paint-title {
	color: #fff;
	font-size: 32px;

}



/*控制层*/
.ctrl-btn-group {
	margin-top: 12px;
}
.ctrl-btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 10px;
	padding: 10px 12px;
	height: 40px;
	color: #fff;
	font-size: 14px;
	background-color: #3B3C44;
	border-radius: 20px;
	cursor: pointer;
}
.ctrl-btn:hover {
	background-color: #474850;
}
.ctrl-btn .text {
	margin-left: 6px;
	font-size: 14px;
	line-height: 20px;
}
.ctrl-btn .icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	width: 20px;
	height: 20px;
	background-size: cover;
}

#frame_control {
	border-radius: 22px;
	overflow: hidden;
}
#frame_control canvas {
	position: absolute;
	top: -2px;
	left: 0;
	transform: rotate(-90deg);
}


.tab-select-group {
	margin-top: 40px;
}
.tab-select-group > .title {
	color: #a0a0a0;
	font-size: 14px;
	line-height: 32px;
}
.tab-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 10px;
	padding: 10px 10px;
	height: 44px;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	background-color: #121213;
	border-radius: 4px;
	cursor: pointer;
}
.tab-select:hover {
	background-color: #1F1F24;
}
.tab-select.selected {
	/*background: #3B3C44;*/
	background: #1F1F24;
}
.tab-select> .icon-selected {
	display: none;
}
.tab-select.selected> .icon-selected {
	display: inline-block;
	margin-right: 4px;
	font-size: 14px;	
	color: #218DFA;
}


.btn-download {
	position: relative;
	margin-top: 20px;
	padding-left: 128px;
	width: 300px;
	height: 86px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 86px;
	background-image: linear-gradient(50deg, #0048FF, #1E89F6);
	border: none;
	border-radius: 8px;
	outline: none;
	overflow: hidden;
	cursor: pointer;
	/*transition: 0.4s ease;*/
	filter: contrast(100%);
}
.btn-download:hover {
	filter: contrast(120%);
}

.btn-download-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 86px;
	background-image: url(../images/icon/download.png);
	background-size: cover;
}


.icon-pause {
	background-image: url(../images/icon/pause.png);
}
.icon-pause.play {
	background-image: url(../images/icon/play.png);
}
.icon-play {
	background-image: url(../images/icon/play.png);
}
.icon-refresh-pattern {
	background-image: url(../images/icon/refresh_pattern.png);
}
.icon-refresh-color {
	background-image: url(../images/icon/refresh_color.png);
}